footer {
    background-image: url("../assets/images/img-footer-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FIXME: set properdimension of gaps and icons if necassry use percentage unit */
footer .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8em 8em 3em 8em;

}

footer .container>a img {
    width: 100%;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-right: 6vw;
}

footer ul li:last-of-type {
    margin-right: 0;
}

footer a {
    color: var(--color-text-light);
}

footer .socialmedia {
    display: flex;
    gap: .5em;
}




footer .policy {
    display: flex;
    justify-content: space-between;
    margin: 0 8em 4em 8em;
}

footer .policy p {
    color: var(--color-text-light);
}

footer .policy a {
    font-size: 1rem;
}

.privacy-policy {
    margin-left: auto;
    margin-right: 1.3em;
}