section {
    display: flex;
    justify-content: space-around;
}

section article {
    width: 35%;
}

section article h2 {
    margin-bottom: 1.5em;
}

section article .card {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

section article .card img {
    width: 12em;
    aspect-ratio: 1.7;
}

section article .card div p {
    margin: .6em 0;
}

section article .card div time {
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-text-dark);
}




section .news {
    width: 40%;
}

section .news>h2 {
    margin-bottom: 1.5em;
}

section .news div {
    margin-bottom: 3em;
}

section .news div p {
    color: var(--color-datetime-light);
}

section .news div img {
    width: 100%;
}

section .news div h2 {
    margin: 1em 0;
}

section .news div p {
    margin-bottom: .4em;
}

section .news div button {

    font-size: .8rem;
    padding: .5em .5em;
    box-shadow: none;
    border: 1px solid var(--color-text-dark);
    background: transparent;
    margin-bottom: .7em;
}