.pet-section-container {
    background-image: url(../../assets/images/img-Pet-section-Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6.5em 6em;
}

.pet-section-container .pet-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4em;
}

.pet-section-container .pet-container .pets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    flex: 1;
    height: 11em;
    position: relative;
    border: 2px solid var(--color-primary-light);
    border-radius: 24px;
    transition: all .5s ease-in-out;
}

.pet-section-container .pet-container .pets img {
    position: absolute;
    bottom: 30%;
    transform: translateY(-50%)
}

.pet-section-container .pet-container .pet-fish img {
    position: absolute;
    bottom: 45%;
    transform: translateY(-50%);
}

.pet-section-container .pet-container .pets a {
    color: var(--color-text);
    font-size: 1.25rem;
    text-decoration: underline;
}

.pet-section-container h1 {
    margin-bottom: 2.2em;
}

.pet-section-container .pet-container .pets:hover {
    background-color: var(--color-primary-light);
}